/**
 * Changes specific to Bootstrap Blog Theme
 *
**/

/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555555;
  overflow-x: hidden;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
}

/* Nav links */

.blog-nav-item, .navbar-nav > li > a {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
  &:hover, &:focus {
    color: #fff;
    text-decoration: none;
  }
}
.nav > li > a {
  &:hover, &:focus {
    background: none;
  }
}
/* Active state gets a caret at the bottom */

.blog-nav .active {
  color: #fff;
  &:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
  }
}

/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}

.blog-description {
  font-size: 20px;
  color: #999;
}

/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */

.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}

.sidebar-module-inset, .well {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
  border: none;
  box-shadow: none;
  p:last-child, ul:last-child, ol:last-child {
    margin-bottom: 0;
  }
}

/* Pagination */

.pager {
  margin-bottom: 60px;
  text-align: left;
  > li > a {
    width: 140px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
  }
}

/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}

.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}

.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}

/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
  p:last-child {
    margin-bottom: 0;
  }
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
  }
}

.bootstrapblog-node header h2 a {
  color: #333;
  font-size: 40px;
  &:hover, &:focus, &:active {
    text-decoration: none;
  }
}

#block-blog-recent ul {
  padding: 0;
  list-style: none;
  li {
    margin-bottom: 3px;
  }
}

.home-page {
  &:hover, &:focus, &:active {
    text-decoration: none;
  }
  color: #333;
}
.bootstrapblog-node h2 a {
  color: #333;
}

//Spacing in search result
li.search-result {
  margin-bottom: 30px;
}

.blog-masthead .navbar-header {
  float: none;
  #block-bootstrapblog-main-menu {
    float: left;
  }
  #block-bootstrapblog-account-menu {
    float: right;
  }
}
.pagination > li {
  > a, > span {
    padding: 10px 20px;
  }
  &:first-child {
    > a, > span {
      border-bottom-left-radius: 30px;
      border-top-left-radius: 30px;
    }
  }
  &:last-child {
    > a, > span {
      border-bottom-right-radius: 30px;
      border-top-right-radius: 30px;
    }
  }
}

#contact-message-feedback-form #edit-actions {
  #edit-submit {
    margin-right: 10px;
  }
}
#comment-form {
  #edit-actions #edit-preview {
    margin-left: 10px;
  }
  .filter-wrapper {
    margin-bottom: 30px;
    margin-top: 15px;
  }
}